altair
bokeh
descartes
geopy
jupyterlab>=1.0.0a3
matplotlib
mpi4py
networkx
pandas
pyarrow
pyowm
python-forecastio
rpy2
shapely
scipy
sklearn
Cython
-e git://github.com/jakobrunge/tigramite.git@4.0.0-beta#egg=tigramite
